h1 {
    color: #854d04;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
}

h2 {
    font-weight: 300;
}



.register-form__heading {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #854d04;
    font-size: 24px;
    margin-top: -30px;
}


.ghost-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 3px 18px;
    font-size: 14px;
    color: #9a8b7b;
    background: #f7f3ef;
    border: 1px solid #e6e0da;
    border-radius: 3px;
    text-decoration: none;
    opacity: 0.5;
}

.register-form__content {
    background-color: #f5ede5;
    padding: 60px 0;
}

.register-form__content form {
    background-color: #fff;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
}

.form__group {
    margin-bottom: 25px;
    text-align: center;
}

.form__group-title {
    margin-bottom: 8px;
}

.form__label--item {
    display: block;
    color: #854d04;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin-left: 70px;
    font-weight: 300;
}

.form__group-content {
    width: 100%;
}

.form__input--text input {
    width: 70%;
    background-color: #f6f6f6;  /* 背景色 */
    border: none;
    appearance: none;
    height: 50px;
    border-radius: 5px;
}

.form__input--text input::placeholder {
    color: #c2b8ae;
    opacity: 1;
    padding-left: 15px;
}

.form__button {
    margin-top: 60px;
    text-align: center;
}

.form__button-submit {
    background-color: #68471b;  /* ブラウン背景 */
    color: #fff;                /* 白文字 */
    padding: 8px 40px;         /* 長方形にする（上下・左右の余白） */
    border: none;               /* 枠線を消す */
    border-radius: 3px;
}

.form__error {
    color: red;
}