body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #fff;
    position: relative;
}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 160px;
    font-weight: bold;
    color: rgba(104, 71, 27, 0.1);
    white-space: nowrap;
    z-index: 1;
}

.thanks-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.thanks-container h1 {
    color: #68471b;
    font-size: 24px;
    margin-bottom: 40px;
}

.home-button {
    display: inline-block;
    background-color: #68471b;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
}
